body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar span {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar span.active {
  background-color: #04aa6d;
  color: white;
}

div.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

/*
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
*/
.home .nft .auction .swap .account .connect {
  background-color: transparent;
  border-radius: 0px;
}
button.home,
button.nft,
button.auction,
button.account,
button.swap,
button.connect {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 9px;
}

button.connect {
  border: 2px solid black;
}

button:hover {
  background-color: #555;
}

div.btm_btn {
  position: absolute;
  margin-left: 24px;
  bottom: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 15px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
span#submenu {
  position: relative;
  font-size: 15px;
  float: left;
}

p#tiltemenusub {
  font-weight: 900;
}
button#connectwalletbutton {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 9px;
}
.restofthepage {
  margin-left: 250px;
}
